
<h2>Question:</h2>
<%= @card.question%>

<p>yes, spelling and punctution counts</p>

  <form action="/decks/<%= @deck.id %>/<%= @card.id %>" method ="POST">
  <label for="user_answer">Answer</label>
  <input id="user_answer" type="text" name="answer"/>
  <input type="submit" value="Submit" />
