
<h2>Question:</h2>
<p class="question"><%= @card.question%></p>

<p class="advice">yes, spelling and punctution counts</p>

  <form action="/decks/<%= @deck.id %>/<%= @card.id %>" method ="POST">
  <label for="user_answer">Answer</label>
  <input id="user_answer" type="text" name="answer"/>
  <input type="submit" value="Submit" />
