<h1>Welcome <%= session[:user_id] %></h1>
<!-- <p> Session info: <%= session[:user_id]%> -->
<h2>Decks!</h2>

<p>Please choose your deck</p>




<ul>
  <% Deck.all.each do |obj| %>
  <li> <a href="decks/<%= obj.id %>"> <%= obj.name %> </a></li>
<%end%>

</ul>

<h2>Stats!</h2>



